body{
    background-color: #f4f6fb;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
h1{
    background: #847577;
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-weight: 600;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
h3{
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
    text-align: center;
}
#form{
  text-align: left;
  background: #A6A2A2;
  margin: 5px;
  font-weight: 600
  }

#all{
    padding: 15px;
}


#id{
  color: black;
}

#new_buttons{
    text-align: center;
}

#register_button{
    background-color: #1C1C1A;
    border-radius: 8px;
    padding: 10px 24px;
    font-size: 20px;
    color:white;
}
#register_button:hover{
    background-color: #F0F0E9;
    border-radius: 8px;
    padding: 10px 24px;
    font-size: 20px;
    color:black;
    transition: background-color 0.8s;

}
#display_button{
    background-color: #1C1C1A;
    border-radius: 8px;
    padding: 10px 24px;
    font-size: 20px;
    color:white;
}
#display_button:hover{
    background-color: #F0F0E9;
    border-radius: 8px;
    padding: 10px 24px;
    font-size: 20px;
    color:black;
    transition: background-color 0.8s;
}

#sub{
    background-color: #1C1C1A;
    border-radius: 8px;
    padding: 5px;
    font-size: 13px;
    color:white;
    
}

#sub:hover{
    background-color: #F0F0E9;
    border-radius: 8px;
    padding: 5px;
    font-size: 13px;
    color:black;
    transition: background-color 0.8s;
}

select {
   background-color: #1C1C1A;
    border-radius: 8px;
    padding: 5px;
    font-size: 13px;
    color:white;
}

select:hover,select:focus {
    background-color: #F0F0E9;
  background: #dddddd;
  transition: background-color 0.8s;
}

.content {
    width: 70%;
    margin: 40px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

th {
    background: #847577;
    color: white;
    text-align: left;
    padding: 12px;
    font-weight: 500;
}

td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

tr:hover {
    background: #f7f9ff;
}



#more {
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    background: #1C1C1A;
    color: white;
}

#delete{
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    background: #6F131D;
    color: white;
}

#more:hover { background: #2C4F19; }
#delete:hover { background: #c53030; }
